<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	<key>BBLMColorsSyntax</key>
	<true/>
	<key>BBLMIsCaseSensitive</key>
	<true/>
	<key>BBLMLanguageCode</key>
	<string>KUQL</string>
	<key>BBLMLanguageDisplayName</key>
	<string>KQL (Kusto Query Language)</string>
	<key>BBLMScansFunctions</key>
	<false/>
	<key>BBLMSupportsTextCompletion</key>
	<true/>
	<key>BBLMPreferredFilenameExtension</key>
	<string>kql</string>
	<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.kql</string>
		</dict>
	</array>
	<key>Language Features</key>
	<dict>
		<key>Close Parameter Lists</key>
		<string>)</string>
		<key>Close Statement Blocks</key>
		<string>}</string>
		<key>Close Strings 1</key>
		<string>"</string>
		<key>Close Strings 2</key>
		<string>'</string>
		<key>End-of-line Ends Strings 1</key>
		<false/>
		<key>End-of-line Ends Strings 2</key>
		<false/>
		<key>Escape Char in Strings 1</key>
		<string>`</string>
		<key>Escape Char in Strings 2</key>
		<string></string>
		<key>Identifier and Keyword Characters</key>
		<string>&amp;?$%!~-0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ_abcdefghijklmnopqrstuvwxyz</string>
		<key>Open Line Comments</key>
		<string>//</string>
		<key>Open Parameter Lists</key>
		<string>(</string>
		<key>Open Statement Blocks</key>
		<string>{</string>
		<key>Open Strings 1</key>
		<string>"</string>
		<key>Open Strings 2</key>
		<string>'</string>
		<key>Prefix for Functions</key>
		<string>let</string>
		<key>Prefix for Procedures</key>
		<string></string>
		<key>Terminator for Prototypes 1</key>
		<string></string>
		<key>Terminator for Prototypes 2</key>
		<string></string>
	</dict>
	<key>BBLMKeywordList</key>
	<array>
	<string>!contains</string>
		<string>!contains_cs</string>
		<string>!endswith</string>
		<string>!endswith_cs</string>
		<string>!has</string>
		<string>!has_cs</string>
		<string>!hasprefix</string>
		<string>!hasprefix_cs</string>
		<string>!hassuffix</string>
		<string>!hassuffix_cs</string>
		<string>!in</string>
		<string>!in~</string>
		<string>!startswith</string>
		<string>!startswith_cs</string>
		<string>Plotly</string>
		<string>Query results cache</string>
		<string>abs</string>
		<string>access</string>
		<string>acos</string>
		<string>ago</string>
		<string>alias</string>
		<string>all</string>
		<string>anomalychart</string>
		<string>any</string>
		<string>areachart</string>
		<string>arg_max</string>
		<string>arg_min</string>
		<string>around</string>
		<string>array_concat</string>
		<string>array_iff</string>
		<string>array_index_of</string>
		<string>array_length</string>
		<string>array_reverse</string>
		<string>array_rotate_left</string>
		<string>array_rotate_right</string>
		<string>array_shift_left</string>
		<string>array_shift_right</string>
		<string>array_slice</string>
		<string>array_sort_asc</string>
		<string>array_sort_desc</string>
		<string>array_split</string>
		<string>array_sum</string>
		<string>as</string>
		<string>asc</string>
		<string>asin</string>
		<string>assert</string>
		<string>atan</string>
		<string>atan2</string>
		<string>avg</string>
		<string>avgif</string>
		<string>bag_has_key</string>
		<string>bag_keys</string>
		<string>bag_merge</string>
		<string>bag_pack</string>
		<string>bag_pack_columns</string>
		<string>bag_remove_keys</string>
		<string>bag_set_key</string>
		<string>bag_zip</string>
		<string>barchart</string>
		<string>bartlett_test_fl</string>
		<string>base64_decode_toarray</string>
		<string>base64_decode_toguid</string>
		<string>base64_decode_tostring</string>
		<string>base64_encode_fromarray</string>
		<string>base64_encode_fromguid</string>
		<string>base64_encode_tostring</string>
		<string>beta_cdf</string>
		<string>beta_inv</string>
		<string>beta_pdf</string>
		<string>between</string>
		<string>bin</string>
		<string>bin_at</string>
		<string>bin_auto</string>
		<string>binary_all_and</string>
		<string>binary_all_or</string>
		<string>binary_all_xor</string>
		<string>binary_and</string>
		<string>binary_not</string>
		<string>binary_or</string>
		<string>binary_shift_left</string>
		<string>binary_shift_right</string>
		<string>binary_xor</string>
		<string>binomial_test_fl</string>
		<string>bitset_count_ones</string>
		<string>bool</string>
		<string>buildschema</string>
		<string>by</string>
		<string>card</string>
		<string>case</string>
		<string>ceiling</string>
		<string>cluster</string>
		<string>coalesce</string>
		<string>column_ifexists</string>
		<string>columnchart</string>
		<string>comb_fl</string>
		<string>consume</string>
		<string>contains</string>
		<string>contains_cs</string>
		<string>convert_angle</string>
		<string>convert_energy</string>
		<string>convert_force</string>
		<string>convert_length</string>
		<string>convert_mass</string>
		<string>convert_speed</string>
		<string>convert_temperature</string>
		<string>convert_volume</string>
		<string>cos</string>
		<string>cot</string>
		<string>count</string>
		<string>count_distinct</string>
		<string>count_distinctif</string>
		<string>countif</string>
		<string>countof</string>
		<string>covariance</string>
		<string>covarianceif</string>
		<string>covariancep</string>
		<string>covariancepif</string>
		<string>current_cluster_endpoint</string>
		<string>current_database</string>
		<string>current_principal</string>
		<string>current_principal_details</string>
		<string>current_principal_is_member_of</string>
		<string>cursor_after</string>
		<string>cursor_before_or_at</string>
		<string>cursor_current</string>
		<string>database</string>
		<string>datatable</string>
		<string>datetime</string>
		<string>datetime_add</string>
		<string>datetime_diff</string>
		<string>datetime_list_timezones</string>
		<string>datetime_local_to_utc</string>
		<string>datetime_part</string>
		<string>datetime_utc_to_local</string>
		<string>dayofmonth</string>
		<string>dayofweek</string>
		<string>dayofyear</string>
		<string>dbscan_dynamic_fl</string>
		<string>dbscan_fl</string>
		<string>dcount</string>
		<string>dcount_hll</string>
		<string>dcountif</string>
		<string>declare</string>
		<string>degrees</string>
		<string>dense_rank</string>
		<string>desc</string>
		<string>detect_anomalous_access_cf_fl</string>
		<string>detect_anomalous_new_entity_fl</string>
		<string>detect_anomalous_spike_fl</string>
		<string>distinct</string>
		<string>dynamic_to_json</string>
		<string>else</string>
		<string>endofday</string>
		<string>endofmonth</string>
		<string>endofweek</string>
		<string>endofyear</string>
		<string>endswith</string>
		<string>endswith_cs</string>
		<string>erf</string>
		<string>erfc</string>
		<string>estimate_data_size</string>
		<string>evaluate</string>
		<string>exp</string>
		<string>exp10</string>
		<string>exp2</string>
		<string>extend</string>
		<string>extent_id</string>
		<string>extent_tags</string>
		<string>external_table</string>
		<string>externaldata</string>
		<string>extract</string>
		<string>extract_all</string>
		<string>extract_json</string>
		<string>facet</string>
		<string>factorial_fl</string>
		<string>find</string>
		<string>floor</string>
		<string>fork</string>
		<string>format_bytes</string>
		<string>format_datetime</string>
		<string>format_ipv4</string>
		<string>format_ipv4_mask</string>
		<string>format_timespan</string>
		<string>from</string>
		<string>gamma</string>
		<string>geo_angle</string>
		<string>geo_azimuth</string>
		<string>geo_closest_point_on_line</string>
		<string>geo_closest_point_on_polygon</string>
		<string>geo_distance_2points</string>
		<string>geo_distance_point_to_line</string>
		<string>geo_distance_point_to_polygon</string>
		<string>geo_from_wkt</string>
		<string>geo_geohash_neighbors</string>
		<string>geo_geohash_to_central_point</string>
		<string>geo_geohash_to_polygon</string>
		<string>geo_h3cell_children</string>
		<string>geo_h3cell_level</string>
		<string>geo_h3cell_neighbors</string>
		<string>geo_h3cell_parent</string>
		<string>geo_h3cell_rings</string>
		<string>geo_h3cell_to_central_point</string>
		<string>geo_h3cell_to_polygon</string>
		<string>geo_info_from_ip_address</string>
		<string>geo_intersection_2lines</string>
		<string>geo_intersection_2polygons</string>
		<string>geo_intersection_line_with_polygon</string>
		<string>geo_intersects_2lines</string>
		<string>geo_intersects_2polygons</string>
		<string>geo_intersects_line_with_polygon</string>
		<string>geo_line_buffer</string>
		<string>geo_line_centroid</string>
		<string>geo_line_densify</string>
		<string>geo_line_interpolate_point</string>
		<string>geo_line_length</string>
		<string>geo_line_locate_point</string>
		<string>geo_line_simplify</string>
		<string>geo_line_to_s2cells</string>
		<string>geo_point_buffer</string>
		<string>geo_point_in_circle</string>
		<string>geo_point_in_polygon</string>
		<string>geo_point_to_geohash</string>
		<string>geo_point_to_h3cell</string>
		<string>geo_point_to_s2cell</string>
		<string>geo_polygon_area</string>
		<string>geo_polygon_buffer</string>
		<string>geo_polygon_centroid</string>
		<string>geo_polygon_densify</string>
		<string>geo_polygon_perimeter</string>
		<string>geo_polygon_simplify</string>
		<string>geo_polygon_to_h3cells</string>
		<string>geo_polygon_to_s2cells</string>
		<string>geo_s2cell_neighbors</string>
		<string>geo_s2cell_to_central_point</string>
		<string>geo_s2cell_to_polygon</string>
		<string>geo_simplify_polygons_array</string>
		<string>geo_union_lines_array</string>
		<string>geo_union_polygons_array</string>
		<string>geoip_fl</string>
		<string>get_packages_version_fl</string>
		<string>getschema</string>
		<string>gettype</string>
		<string>getyear</string>
		<string>graph</string>
		<string>graph-mark-components</string>
		<string>graph-match</string>
		<string>graph-shortest-paths</string>
		<string>graph-to-table</string>
		<string>graph_blast_radius_fl</string>
		<string>graph_exposure_perimeter_fl</string>
		<string>graph_node_centrality_fl</string>
		<string>graph_path_discovery_fl</string>
		<string>gzip_compress_to_base64_string</string>
		<string>gzip_decompress_from_base64_string</string>
		<string>has</string>
		<string>has_all</string>
		<string>has_any</string>
		<string>has_any_index</string>
		<string>has_any_ipv4</string>
		<string>has_any_ipv4_prefix</string>
		<string>has_cs</string>
		<string>has_ipv4</string>
		<string>has_ipv4_prefix</string>
		<string>hash</string>
		<string>hash_combine</string>
		<string>hash_many</string>
		<string>hash_md5</string>
		<string>hash_sha1</string>
		<string>hash_sha256</string>
		<string>hash_xxhash64</string>
		<string>hasprefix</string>
		<string>hasprefix_cs</string>
		<string>hassuffix</string>
		<string>hassuffix_cs</string>
		<string>hll</string>
		<string>hll_if</string>
		<string>hll_merge</string>
		<string>hourofday</string>
		<string>if</string>
		<string>iff</string>
		<string>iif</string>
		<string>in</string>
		<string>indexof</string>
		<string>indexof_regex</string>
		<string>ingestion_time</string>
		<string>inner_nodes</string>
		<string>invoke</string>
		<string>in~</string>
		<string>ipv4_compare</string>
		<string>ipv4_is_in_any_range</string>
		<string>ipv4_is_in_range</string>
		<string>ipv4_is_match</string>
		<string>ipv4_is_private</string>
		<string>ipv4_netmask_suffix</string>
		<string>ipv4_range_to_cidr_list</string>
		<string>ipv6_compare</string>
		<string>ipv6_is_in_any_range</string>
		<string>ipv6_is_in_range</string>
		<string>ipv6_is_match</string>
		<string>isascii</string>
		<string>isempty</string>
		<string>isfinite</string>
		<string>isinf</string>
		<string>isnan</string>
		<string>isnotempty</string>
		<string>isnotnull</string>
		<string>isnull</string>
		<string>isutf8</string>
		<string>jaccard_index</string>
		<string>join</string>
		<string>kind</string>
		<string>kmeans_dynamic_fl</string>
		<string>kmeans_fl</string>
		<string>ks_test_fl</string>
		<string>labels</string>
		<string>let</string>
		<string>levene_test_fl</string>
		<string>limit</string>
		<string>linechart</string>
		<string>log</string>
		<string>log10</string>
		<string>log2</string>
		<string>log_reduce_fl</string>
		<string>log_reduce_full_fl</string>
		<string>log_reduce_predict_fl</string>
		<string>log_reduce_predict_full_fl</string>
		<string>log_reduce_train_fl</string>
		<string>loggamma</string>
		<string>lookup</string>
		<string>macro-expand</string>
		<string>make-graph</string>
		<string>make-series operator</string>
		<string>make_bag</string>
		<string>make_bag_if</string>
		<string>make_datetime</string>
		<string>make_list</string>
		<string>make_list_if</string>
		<string>make_list_with_nulls</string>
		<string>make_set</string>
		<string>make_set_if</string>
		<string>make_timespan</string>
		<string>mann_whitney_u_test_fl</string>
		<string>map</string>
		<string>matches regex</string>
		<string>materialize</string>
		<string>materialized_view</string>
		<string>max</string>
		<string>max_of</string>
		<string>maxif</string>
		<string>merge_tdigest</string>
		<string>min</string>
		<string>min_of</string>
		<string>minif</string>
		<string>monthofyear</string>
		<string>mv-apply</string>
		<string>mv-expand</string>
		<string>new_guid</string>
		<string>next</string>
		<string>node_degree_in</string>
		<string>node_degree_out</string>
		<string>normality_test_fl</string>
		<string>not</string>
		<string>now</string>
		<string>null</string>
		<string>order</string>
		<string>pack_all</string>
		<string>pack_array</string>
		<string>pair_probabilities_fl</string>
		<string>pairwise_dist_fl</string>
		<string>parse</string>
		<string>parse-kv</string>
		<string>parse-where</string>
		<string>parse_command_line</string>
		<string>parse_csv</string>
		<string>parse_ipv4</string>
		<string>parse_ipv4_mask</string>
		<string>parse_ipv6</string>
		<string>parse_ipv6_mask</string>
		<string>parse_json</string>
		<string>parse_path</string>
		<string>parse_url</string>
		<string>parse_urlquery</string>
		<string>parse_user_agent</string>
		<string>parse_version</string>
		<string>parse_xml</string>
		<string>partition</string>
		<string>pattern</string>
		<string>percentile</string>
		<string>percentile, percentiles</string>
		<string>percentile_array_tdigest</string>
		<string>percentile_tdigest</string>
		<string>percentiles_linear_fl</string>
		<string>percentilew, percentilesw</string>
		<string>percentrank_tdigest</string>
		<string>perm_fl</string>
		<string>pi</string>
		<string>piechart</string>
		<string>plotly_anomaly_fl</string>
		<string>plotly_gauge_fl</string>
		<string>plotly_scatter3d_fl</string>
		<string>pow</string>
		<string>predict_fl</string>
		<string>predict_onnx_fl</string>
		<string>prev</string>
		<string>print</string>
		<string>project</string>
		<string>project-away</string>
		<string>project-keep</string>
		<string>project-rename</string>
		<string>project-reorder</string>
		<string>punycode_domain_from_string</string>
		<string>punycode_domain_to_string</string>
		<string>punycode_from_string</string>
		<string>punycode_to_string</string>
		<string>quantize_fl</string>
		<string>query_parameters</string>
		<string>radians</string>
		<string>rand</string>
		<string>range</string>
		<string>rank</string>
		<string>rank_tdigest</string>
		<string>reduce</string>
		<string>regex_quote</string>
		<string>repeat</string>
		<string>replace</string>
		<string>replace_regex</string>
		<string>replace_string</string>
		<string>replace_strings</string>
		<string>restrict</string>
		<string>reverse</string>
		<string>round</string>
		<string>row_cumsum</string>
		<string>row_number</string>
		<string>row_rank_dense</string>
		<string>row_rank_min</string>
		<string>row_window_session</string>
		<string>sample</string>
		<string>sample-distinct</string>
		<string>scan</string>
		<string>scatterchart</string>
		<string>search</string>
		<string>serialize</string>
		<string>series_abs</string>
		<string>series_acos</string>
		<string>series_add</string>
		<string>series_asin</string>
		<string>series_atan</string>
		<string>series_ceiling</string>
		<string>series_clean_anomalies_fl</string>
		<string>series_cos</string>
		<string>series_cosine_similarity</string>
		<string>series_cosine_similarity_fl</string>
		<string>series_dbl_exp_smoothing_fl</string>
		<string>series_decompose</string>
		<string>series_decompose_anomalies</string>
		<string>series_decompose_forecast</string>
		<string>series_divide</string>
		<string>series_dot_product</string>
		<string>series_dot_product_fl</string>
		<string>series_downsample_fl</string>
		<string>series_equals</string>
		<string>series_exp</string>
		<string>series_exp_smoothing_fl</string>
		<string>series_fbprophet_forecast_fl</string>
		<string>series_fft</string>
		<string>series_fill_backward</string>
		<string>series_fill_const</string>
		<string>series_fill_forward</string>
		<string>series_fill_linear</string>
		<string>series_fir</string>
		<string>series_fit_2lines</string>
		<string>series_fit_2lines_dynamic</string>
		<string>series_fit_line</string>
		<string>series_fit_line_dynamic</string>
		<string>series_fit_lowess_fl</string>
		<string>series_fit_poly</string>
		<string>series_fit_poly_fl</string>
		<string>series_floor</string>
		<string>series_greater</string>
		<string>series_greater_equals</string>
		<string>series_ifft</string>
		<string>series_iir</string>
		<string>series_lag_fl</string>
		<string>series_less</string>
		<string>series_less_equals</string>
		<string>series_log</string>
		<string>series_magnitude</string>
		<string>series_metric_fl</string>
		<string>series_monthly_decompose_anomalies_fl</string>
		<string>series_moving_avg_fl</string>
		<string>series_moving_var_fl</string>
		<string>series_multiply</string>
		<string>series_mv_ee_anomalies_fl</string>
		<string>series_mv_if_anomalies_fl</string>
		<string>series_mv_oc_anomalies_fl</string>
		<string>series_not_equals</string>
		<string>series_outliers</string>
		<string>series_pearson_correlation</string>
		<string>series_periods_detect</string>
		<string>series_periods_validate</string>
		<string>series_pow</string>
		<string>series_product</string>
		<string>series_rate_fl</string>
		<string>series_rolling_fl</string>
		<string>series_seasonal</string>
		<string>series_shapes_fl</string>
		<string>series_sign</string>
		<string>series_sin</string>
		<string>series_stats</string>
		<string>series_stats_dynamic</string>
		<string>series_subtract</string>
		<string>series_sum</string>
		<string>series_tan</string>
		<string>series_uv_anomalies_fl</string>
		<string>series_uv_change_points_fl</string>
		<string>set</string>
		<string>set_difference</string>
		<string>set_has_element</string>
		<string>set_intersect</string>
		<string>set_union</string>
		<string>shuffle query</string>
		<string>sign</string>
		<string>sin</string>
		<string>sort</string>
		<string>split</string>
		<string>sqrt</string>
		<string>stackedareachart</string>
		<string>startofday</string>
		<string>startofmonth</string>
		<string>startofweek</string>
		<string>startofyear</string>
		<string>startswith</string>
		<string>startswith_cs</string>
		<string>stdev</string>
		<string>stdevif</string>
		<string>stdevp</string>
		<string>step</string>
		<string>stored_query_result</string>
		<string>strcat</string>
		<string>strcat_array</string>
		<string>strcat_delim</string>
		<string>strcmp</string>
		<string>string</string>
		<string>string_size</string>
		<string>strlen</string>
		<string>strrep</string>
		<string>substring</string>
		<string>sum</string>
		<string>sumif</string>
		<string>summarize</string>
		<string>table</string>
		<string>take</string>
		<string>take_any</string>
		<string>take_anyif</string>
		<string>tan</string>
		<string>tdigest</string>
		<string>tdigest_merge, merge_tdigest</string>
		<string>then</string>
		<string>time_weighted_avg2_fl</string>
		<string>time_weighted_avg_fl</string>
		<string>time_weighted_val_fl</string>
		<string>time_window_rolling_avg_fl</string>
		<string>timechart</string>
		<string>timespan</string>
		<string>to</string>
		<string>tobool</string>
		<string>todatetime</string>
		<string>todecimal</string>
		<string>toguid</string>
		<string>tohex</string>
		<string>toint</string>
		<string>tolong</string>
		<string>tolower</string>
		<string>top</string>
		<string>top-hitters</string>
		<string>top-nested</string>
		<string>toreal</string>
		<string>toscalar</string>
		<string>tostring</string>
		<string>totimespan</string>
		<string>toupper</string>
		<string>translate</string>
		<string>treepath</string>
		<string>trim</string>
		<string>trim_end</string>
		<string>trim_start</string>
		<string>two_sample_t_test_fl</string>
		<string>unicode_codepoints_from_string</string>
		<string>unicode_codepoints_to_string</string>
		<string>union</string>
		<string>unixtime_microseconds_todatetime</string>
		<string>unixtime_milliseconds_todatetime</string>
		<string>unixtime_nanoseconds_todatetime</string>
		<string>unixtime_seconds_todatetime</string>
		<string>url_decode</string>
		<string>url_encode</string>
		<string>url_encode_component</string>
		<string>variance</string>
		<string>varianceif</string>
		<string>variancep</string>
		<string>variancepif</string>
		<string>week_of_year</string>
		<string>welch_test</string>
		<string>where</string>
		<string>wilcoxon_test_fl</string>
		<string>zip</string>
		<string>zlib_compress_to_base64_string</string>
		<string>zlib_decompress_from_base64_string</string>
	</array>
</dict>
</plist>
